<div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
    <h1>About us</h1>
    <p>We are the Nothing Group, a team of students who have gained knowledge about enhancers during our 6th semester of studies at the Faculty of Mathematics and Information Science at the Warsaw University of Technology.</p>
    
    <p>Over the course of our studies, we have developed classifiers and this web service serves as a platform to present our results. We are:</p>
    
    <ul>
      <li>Jakub Piwko</li>
      <li>Dominik Kędzierski</li>
      <li>Kacper Skonieczka</li>
    </ul>
    
    <p>We welcome any questions or comments. Feel free to raise issues on our <a href="https://github.com/skonieczkak/EnhancersPredictionWebservice" target="_blank">GitHub page</a>.</p>
</div>
  