<div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-tab-4">
    <h1>Instructions</h1>
    <p>
      Welcome to our DNA Enhancer Prediction Service! 
      To start using our application, follow these easy steps:
    </p>
    <ol>
      <li>
        <strong>Select a Chromosome</strong>: From the "Chromosome" drop-down menu, choose the chromosome ('chr1' to 'chr22') you wish to analyze.
      </li>
      <li>
        <strong>Define the Range</strong>: Enter a start and end index in the "Start" and "End" fields. This defines the range within the DNA sequence of mean enhancer length you're interested in.
      </li>
      <li>
        <strong>Generate Results</strong>: Click "Submit". You'll see a bar plot representing the probability of each sequence within your defined range being an enhancer in the chosen chromosome.
        <ul>
          <li>
            <em>Interpreting the Plot</em>: Each bar on the plot corresponds to a specific sequence within your defined range. The height of the bar signifies the probability of that sequence being an enhancer. Hover over the bars to see the exact probability values.
          </li>
        </ul>
      </li>
      <li>
        <strong>Download the Data</strong>: Want to dive into the details? Click the "Download Data" button to get a CSV file of the underlying data used to generate the plot.
      </li>
    </ol>
    <p>
      Interested in learning more about the project and our team? Check out the "About project" and "About us" tabs:
      <ul>
        <li>
          <strong>About Project</strong>: Learn about the process we followed to create and train our neural network model for enhancer prediction.
        </li>
        <li>
          <strong>About Us</strong>: Get to know us, the team behind this service. If you have questions or comments, you'll also find a link to our GitHub page where you can raise issues.
        </li>
      </ul>
      Thank you for using our service! We hope you find it informative and useful for your DNA sequence analysis.
    </p>
</div>
  